.app__home {

  @media screen and (max-width: 900px) {
    padding: 0 2rem;
  }
}

.home__text {
  margin: 8rem 0 0 0;

  p {
    margin-top: 1.5rem;
  }
}

.app__cards {
  padding: 8rem 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .single__card {
    margin: 0 7rem;
    text-align: center;

    p {
      margin-top: 2rem;
      font-weight: 700;
      font-size: 18px;
    }

    @media screen and (max-width: 900px) {
      margin: 2rem 0;
    }
  }

  .img__wrapper {
    padding: 3.5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

    img {
      width: 70px;
      height: 65px;
    }
  }

  @media screen and (max-width: 900px) {
    flex-direction: column;
    padding: 4rem 2rem;
  }
}

.bg__img {
  background: url("../../assets/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    width: 30px;
    height: 30px;
    display: block;
    border-right: 4px solid var(--blue-color);
    border-bottom: 4px solid var(--blue-color);
    transform: rotate(45deg);
    margin: -5px;
    animation: animate 2s infinite;
  }
}

.box span:nth-child(2) {
  animation-delay: -0.2s;
}

.box span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: rotate(45deg) translate(10px, 10px);
  }
  100% {
    opacity: 0;
  }
}
