.app {
  background-color: var(--light-color);
  font-family: var(--font-base);
}

.app__lightbg {
  background-color: var(--light-color);
}

.app__whitebg {
  background-color: var(--white-color);
}

.app__container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: row;
}

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__wrapper {
  flex: 1;
  width: 100%;
  flex-direction: column;
  padding: 4rem 2rem;

  @media screen and (max-width: 450px) {
    padding: 4rem 1rem 2rem;
  }
}

.head-text {
  font-size: 3.75rem;
  font-weight: 800;
  text-align: center;
  color: var(--black-color);

  @media screen and (min-width: 2000px) {
    font-size: 4rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 2rem;
  }
}

.p-text {
  font-size: 1.375rem;
  text-align: center;
  color: var(--black-color);
  line-height: 1.5;
  font-weight: 600;

  @media screen and (min-width: 2000px) {
    font-size: 1.75rem;
  }
}